In [300]:
import pandas as pd
import matplotlib.pyplot as plt 
import matplotlib.dates as dates
%matplotlib inline

In [180]:
fx_list = ["aud", "cad", "chf", "eur", "gbp", "jpy", "nok", "nzd", "sek"]

Note that we choose time from 2013-10-01 to 018-09-30.

In [203]:
data_path = "./g10/"
def get_data(price_type):
    convert = {"price":"PX_LAST", "ask":"PX_ASK", "bid":"PX_BID"}
    label = convert[price_type]
    for i in range(len(fx_list)):
        if i == 0:
            data = pd.read_excel(data_path + fx_list[i] + price_type + ".xlsx", header=6)
            data.rename(columns={label:fx_list[i]+"_"+price_type}, inplace=True)
        else:
            data[fx_list[i]+"_"+price_type] = pd.read_excel(data_path + fx_list[i] + price_type + ".xlsx", header=6)[label]

    period = (data["Date"] >= '2013-10-01') & (data["Date"] <= '2018-09-30')
    data = data.loc[period]    
    data.set_index(pd.DatetimeIndex(data["Date"]), inplace=True)
    del data["Date"]
    
    return data

In [340]:
market_data = get_data(price_type="price")[::-1]
market_data.head()

,aud_price,cad_price,chf_price,eur_price,gbp_price,jpy_price,nok_price,nzd_price,sek_price
Date,,,,,,,,,
2013-10-01,0.9398,0.9687,1.1044,1.3526,1.6196,0.010204,0.1668,0.8276,0.157220
2013-10-02,0.9385,0.9674,1.1077,1.3579,1.6227,0.010272,0.1664,0.8330,0.156753
2013-10-03,0.9394,0.9678,1.1118,1.3619,1.6156,0.010282,0.1679,0.8293,0.157584
2013-10-04,0.9435,0.9713,1.1023,1.3558,1.6011,0.010259,0.1675,0.8317,0.155569
2013-10-07,0.9429,0.9697,1.1076,1.3581,1.6097,0.010340,0.1675,0.8305,0.155908

In [341]:
for fx in fx_list:
    market_data[fx+"_ret"] = -market_data[fx+"_price"].shift(1)/market_data[fx+'_price'] + 1
    del market_data[fx+"_price"]

market_data.head()

,aud_ret,cad_ret,chf_ret,eur_ret,gbp_ret,jpy_ret,nok_ret,nzd_ret,sek_ret
Date,,,,,,,,,
2013-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-10-02,-0.001385,-0.001344,0.002979,0.003903,0.001910,0.006620,-0.002404,0.006483,-0.002979
2013-10-03,0.000958,0.000413,0.003688,0.002937,-0.004395,0.000973,0.008934,-0.004462,0.005273
2013-10-04,0.004346,0.003603,-0.008618,-0.004499,-0.009056,-0.002242,-0.002388,0.002886,-0.012952
2013-10-07,-0.000636,-0.001650,0.004785,0.001694,0.005343,0.007834,0.000000,-0.001445,0.002174

## Signal:

### RSI (Relative Strength Index)

* Category: Momentum
* Calculation: Assume there are `x` days of rise and `n-x` days of in the previous `n` days. Get the average rise in `x` days as `Xr`, and average drop as `Xd`, then `RSI = Xr / (Xd + Xr) * 100`. A recommended default value for `n` is 14.
* Result: should be in `[0, 100]`. If `>50` it indicates a long signal.

In [184]:
def RSI(rets):
    # input rets is a list of returns
    rise, drop = 0, 0
    rise_num, drop_num = 0, 0
    for ret in rets:
        if ret > 0:
            rise += ret
            rise_num += 1
        elif ret < 0:
            drop -= ret
            drop_num += 1
    avg_rise = rise / rise_num if rise_num > 0 else 0
    avg_drop = drop / drop_num if drop_num > 0 else 0
    if (avg_rise + avg_drop) == 0:
        print("avg rise and drop all zero:", rets)
        return 50
    return avg_rise / (avg_rise + avg_drop) * 100

In [185]:
def transform_RSI(data):
    for col in data.columns:
        new_col = col[:4]+"rsi"
        data[new_col] = 0
        # start from 15th day, 1 day is NaN. Calculate first RSI at the end of 15th day.
        for i in range(15, data.shape[0]):
            data.ix[i, new_col] = RSI(list(data.iloc[i-14:i][col]))
            
    return data

In [342]:
%%time
data_rsi = transform_RSI(market_data)

D:\Programming\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

Wall time: 5.73 s

In [343]:
rsi_cols = data_rsi.columns[-9:]
data_rsi = data_rsi[rsi_cols]
data_rsi

,aud_rsi,cad_rsi,chf_rsi,eur_rsi,gbp_rsi,jpy_rsi,nok_rsi,nzd_rsi,sek_rsi
Date,,,,,,,,,
2013-10-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2013-10-22,71.583401,59.665972,60.796857,59.115541,46.843256,52.190381,54.998775,56.474034,46.040879
2013-10-23,73.626960,56.990834,64.968700,62.297795,50.316339,46.344031,51.361917,56.767473,43.968888
2013-10-24,53.859325,51.614004,64.278238,65.580022,50.261450,52.599980,50.520721,44.693219,46.501796
2013-10-25,53.321305,50.428365,71.976668,70.561344,55.211124,47.586836,47.802559,46.143528,52.959722
2013-10-28,47.256485,49.587376,74.145968,69.190794,54.586845,47.230834,47.802559,40.665102,55.392653
2013-10-29,46.150815,47.700492,71.121884,67.526062,53.774050,46.211632,54.267937,36.530496,53.798646
2013-10-30,41.372517,47.902856,75.530649,69.374677,56.538669,46.026849,54.270693,39.188521,52.509456
2013-10-31,41.198721,47.349477,77.517923,68.430540,61.967460,50.137196,54.719496,34.308847,57.490909
2013-11-01,44.900801,47.085290,66.829195,53.339247,62.662970,48.366509,50.134639,37.851798,48.665951
2013-11-04,49.060852,42.075840,67.245872,51.250945,60.616296,48.257856,50.345663,35.091285,49.258428
2013-11-05,52.302476,44.582785,64.106435,49.025193,62.489304,45.163222,53.287451,34.332492,48.600106
2013-11-06,57.563396,39.254243,61.206644,52.483445,62.473865,45.590471,50.375839,37.811278,52.664621
2013-11-07,50.409435,39.345054,48.432453,42.436300,50.527282,39.924667,45.841072,33.347720,45.703782
2013-11-08,47.624435,41.869397,52.250003,42.642023,51.820120,45.757458,37.375056,34.590139,43.907138
2013-11-11,44.661213,41.933956,47.761150,40.292756,48.145781,40.325646,32.154409,33.258686,42.796883
...,...,...,...,...,...,...,...,...,...
2018-08-20,46.516936,47.557237,41.987213,39.263737,24.697664,42.257083,39.012297,44.204664,29.435689
2018-08-21,47.901772,46.635704,47.900178,39.098982,30.205304,54.244211,33.222162,37.806044,31.265528
2018-08-22,46.047660,46.321464,54.181957,43.123603,45.547672,55.623014,36.054404,41.507855,36.764347
2018-08-23,48.514598,44.581806,56.760091,43.671449,47.468549,56.808553,43.353016,41.805934,39.682184
2018-08-24,41.046493,42.789763,55.906159,40.612783,41.622490,49.471537,40.527351,36.451080,36.063697
2018-08-27,44.707200,41.016464,57.410150,40.021978,41.621715,44.956317,46.905915,35.516742,33.086176
2018-08-28,43.548242,41.690979,60.256654,40.663775,39.233686,46.190655,45.986926,38.202505,33.927116
2018-08-29,48.649727,41.782764,61.291934,41.012669,41.939936,46.944787,45.971020,38.557643,33.752941
2018-08-30,51.107600,37.650095,59.208263,40.887528,49.915325,43.144390,48.207030,51.852933,30.880111
2018-08-31,53.109993,39.434681,55.842898,50.745175,53.946214,49.257632,52.577733,44.763633,35.810438
2018-09-03,49.445211,41.608691,54.558066,42.340615,56.384187,53.313773,50.489356,40.994185,39.385539
2018-09-04,47.110784,40.110476,57.452186,42.453779,52.986141,57.764468,53.696168,39.067512,40.425998
2018-09-05,44.450493,39.426148,51.473256,46.768571,53.515266,55.529893,53.733949,34.715886,41.695997
2018-09-06,43.778568,34.254742,52.082591,47.622635,55.460545,56.539430,55.829938,36.302082,43.279798
2018-09-07,38.981886,30.038970,55.789113,51.296812,54.658925,62.000186,57.152346,36.914653,40.504147
2018-09-10,36.311635,33.781230,52.506878,48.445493,58.364010,60.821585,60.626394,37.908821,36.946154
2018-09-11,33.666698,33.638071,46.215613,44.717724,58.700769,62.246654,62.879627,38.143158,38.369961
2018-09-12,29.083095,38.160438,46.942891,43.530699,58.012532,60.560735,63.555789,39.063879,37.921254
2018-09-13,35.136439,41.233716,44.196031,43.532955,61.796740,64.601373,67.449073,44.016184,47.472909
2018-09-14,28.766877,40.513220,46.359080,42.010391,63.208721,64.807372,65.797373,38.997285,48.284722
2018-09-17,28.858239,40.162213,48.560869,37.799001,63.163262,70.615840,63.831534,39.342915,39.894325
2018-09-18,27.760101,44.044201,49.688140,41.699746,62.962690,65.306027,65.166302,42.794857,46.973031
2018-09-19,27.537763,48.469958,49.410182,46.335589,60.427326,65.072512,65.574434,42.395642,47.148783
2018-09-20,28.423766,51.270278,52.246211,42.930448,61.494458,56.932617,60.132955,47.588416,48.307335
2018-09-21,30.180357,50.640140,59.206868,51.123134,67.509113,55.401089,60.571941,54.556003,47.846803
2018-09-24,36.291157,56.190257,52.662182,54.120946,56.509605,55.182252,64.275687,50.589444,52.712900
2018-09-25,36.078238,64.876758,51.555415,58.464579,52.847127,56.550942,64.093968,51.081077,58.797007
2018-09-26,42.141474,64.308569,56.332221,56.341085,53.450203,55.668374,58.735118,46.668736,62.925758
2018-09-27,42.239012,58.686167,56.127412,53.741502,57.963189,43.073538,58.339884,41.310334,69.769543
2018-09-28,49.316836,58.715749,49.588792,50.648892,52.050126,40.870849,52.748414,43.499773,67.288785

###  Trading time frame
The earliest starting date of the trading can only be 2013-10-22. We set it as the first day of backtesting, and we test the strategy with different backtesting rebalancing frequency.

### Strategy implementation
We assume we have 1 million USD. At each rebalancing day, we will equally divide our money into 1/6, and long top 3 RSI fx and short last 3 RSI fx. If we long, we buy at ask price and calculate daily return based on bid price.

In [344]:
start_date = 15  # "2013-10-22"
freq = 15

def fx_select(date_index,data_rsi):
    rsi_dict = dict(zip(rsi_cols, data_rsi.iloc[date_index]))
    long_fx = [i[:3] for i in sorted(rsi_dict, key=rsi_dict.get)[-3:]]
    short_fx = [i[:3] for i in sorted(rsi_dict, key=rsi_dict.get)[:3]]
    return long_fx, short_fx

In [345]:
fx_select(start_date, data_rsi)

(['cad', 'chf', 'aud'], ['sek', 'gbp', 'jpy'])

In [310]:
# load bid price and ask price
bid_data = get_data(price_type="bid")[::-1]
ask_data = get_data(price_type="ask")[::-1]

In [346]:
def asset_alloc(data, freq, start_date=start_date):
    cols = data.columns
    for col in cols:
        data[col[:3]] = 0
    for i in range(start_date, data.shape[0]):
        if (i-start_date) % freq == 0:
            long_fx, short_fx = fx_select(i, data)
            for long in long_fx:
                data.ix[i, long] = 1/6
            for short in short_fx:
                data.ix[i, short] = -1/6 # indicate short
        else:
            data.ix[i] = data.ix[i-1]
                
    return data[data.columns[-9:]]

In [347]:
data_alloc = asset_alloc(data_rsi, freq=freq).iloc[start_date:]

D:\Programming\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Programming\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
D:\Programming\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
D:\Programming\Anaconda3\lib\site-packages\ipykernel\__main__.py:13: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [348]:
data_alloc

,aud,cad,chf,eur,gbp,jpy,nok,nzd,sek
Date,,,,,,,,,
2013-10-22,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-10-23,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-10-24,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-10-25,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-10-28,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-10-29,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-10-30,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-10-31,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-11-01,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-11-04,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-11-05,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-11-06,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-11-07,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-11-08,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-11-11,0.166667,0.166667,0.166667,0.000000,-0.166667,-0.166667,0.000000,0.000000,-0.166667
2013-11-12,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-13,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-14,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-15,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-18,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-19,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-20,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-21,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-22,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-25,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-26,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-27,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-28,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-11-29,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
2013-12-02,0.000000,0.000000,0.000000,-0.166667,0.166667,0.166667,-0.166667,-0.166667,0.166667
...,...,...,...,...,...,...,...,...,...
2018-08-20,-0.166667,0.166667,0.166667,0.000000,0.000000,-0.166667,0.000000,-0.166667,0.166667
2018-08-21,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-08-22,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-08-23,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-08-24,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-08-27,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-08-28,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-08-29,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-08-30,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-08-31,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-09-03,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-09-04,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-09-05,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-09-06,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-09-07,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-09-10,0.166667,0.000000,0.166667,0.000000,-0.166667,0.166667,-0.166667,0.000000,-0.166667
2018-09-11,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-12,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-13,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-14,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-17,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-18,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-19,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-20,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-21,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-24,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-25,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-26,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-27,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000
2018-09-28,-0.166667,-0.166667,0.000000,0.000000,0.166667,0.166667,0.166667,-0.166667,0.000000

In [313]:
def backtest(freq, ask=ask_data[start_date:], bid=bid_data[start_date:], alloc=data_alloc, tranx_cost=0):
    fx_list = ['aud', 'cad', 'chf', 'eur', 'gbp', 'jpy', 'nok', 'nzd', 'sek']
    alloc["return"] = 0
    alloc.ix[0, "return"] = 1
    for i in range(1, alloc.shape[0]): # the return we get starts from 2nd day
        ret = 0
        if i % freq == 1:
            value = alloc.iloc[i-1]["return"]
            for fx in fx_list:
                percent = alloc.iloc[i-1][fx]
                if percent > 0:
                    ret += bid.iloc[i][fx+"_bid"] / ask.iloc[i-1][fx+"_ask"] * value * percent * (1-tranx_cost)
                elif percent < 0:
                    ret -= bid.iloc[i-1][fx+"_bid"] / ask.iloc[i][fx+"_ask"] * value * percent * (1-tranx_cost)
            alloc.ix[i, "return"] = ret
        else:
            for fx in fx_list:
                percent = alloc.iloc[i-1][fx]
                # here ret is the proportional return, will muptily the last time return
                if percent > 0:
                    ret += bid.iloc[i][fx+"_bid"] / bid.iloc[i-1][fx+"_bid"]
                elif percent < 0:
                    ret += ask.iloc[i-1][fx+"_ask"] / ask.iloc[i][fx+"_ask"]
            alloc.ix[i, "return"] = alloc.ix[i-1, "return"] * ret / 6
    
    return alloc["return"]

In [349]:
data_ret = backtest(freq=freq)

D:\Programming\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
D:\Programming\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
D:\Programming\Anaconda3\lib\site-packages\ipykernel\__main__.py:24: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [352]:
data_ret

Date
2013-10-22    1.000000
2013-10-23    0.996755
2013-10-24    0.995084
2013-10-25    0.993390
2013-10-28    0.994277
2013-10-29    0.994570
2013-10-30    0.995237
2013-10-31    0.996236
2013-11-01    0.998197
2013-11-04    0.998647
2013-11-05    0.996806
2013-11-06    0.997157
2013-11-07    0.994377
2013-11-08    0.995606
2013-11-11    0.995364
2013-11-12    0.998486
2013-11-13    0.997995
2013-11-14    0.998030
2013-11-15    0.998989
2013-11-18    0.999021
2013-11-19    0.999739
2013-11-20    1.000619
2013-11-21    0.997937
2013-11-22    0.994710
2013-11-25    0.995448
2013-11-26    0.995007
2013-11-27    0.994386
2013-11-28    0.992753
2013-11-29    0.993342
2013-12-02    0.995487
                ...
2018-08-20    0.968061
2018-08-21    0.968723
2018-08-22    0.965456
2018-08-23    0.965142
2018-08-24    0.965246
2018-08-27    0.965875
2018-08-28    0.967395
2018-08-29    0.964909
2018-08-30    0.964853
2018-08-31    0.964874
2018-09-03    0.965400
2018-09-04    0.963893
2018-09-05    0.963557
2018-09-06    0.967158
2018-09-07    0.963034
2018-09-10    0.960523
2018-09-11    0.958537
2018-09-12    0.957401
2018-09-13    0.955880
2018-09-14    0.957095
2018-09-17    0.953849
2018-09-18    0.953610
2018-09-19    0.952056
2018-09-20    0.949846
2018-09-21    0.946940
2018-09-24    0.949858
2018-09-25    0.950471
2018-09-26    0.950384
2018-09-27    0.951146
2018-09-28    0.950097
Name: return, Length: 1289, dtype: float64